* { 
	padding: 0;
	margin: 20px;
}

p {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

#uncover-canvas { 
	background: blue; 
	display: block;
	margin: 0 auto;
}

#uncover-image {
	visibility: hidden;
	display: none;
}